<!DOCTYPE html>
<html style='background-color: #95a5a6;'>
{% include head.html %}
    <body style='margin: 20pt;background-color: #95a5a6;'>
    	<div align="center">
	    	<form  method="get" action="http://www.google.com/search">
				<div style="align:center border:2px dotted black;padding:4px; width:50%;">
				<table border="0" align="center" cellpadding="0">
				<tr><td>
				<input type="text"   name="q" size="25" style="color:#808080;"
				maxlength="255" value="Google site search"
				onfocus="if(this.value==this.defaultValue)this.value=''; this.style.color='black';" onblur="if(this.value=='')this.value=this.defaultValue; " autofocus/>
				<input type="submit" value="Go!" />
				<input type="hidden" name="sitesearch" value="" /></td></tr>
				</table>
				</div>
			</form>

		    {{ content }}
	    </div>
    </body>
</html>
